{% extends 'base.html'%}

{% block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}

<h1>HEYY</h1>

{% else %}

<h1>Login</h1>

<form method="POST" action="{% url 'home' %}">
    {%csrf_token%}
    <form>
      <br>
        <div class="mb-3">
          <br>
          {% comment %} <label for="exampleInputEmail1" class="form-label">Email address</label> {% endcomment %}
          <input type="text" class="form-control"  name="username", placeholder="username"required>
          {% comment %} <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div> {% endcomment %}
        <div class="mb-3">
          {% comment %} <label for="exampleInputPassword1" class="form-label" required>Password</label> {% endcomment %}
          <br>
          <input type="password" class="form-control" name="password", placeholder="password" required>
        </div>
        {% comment %} <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> {% endcomment %}
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
</form>
</form>
</div>
{% endif %}
{% endblock %}